:root {
  --dark-blue: #023047;
  --mustard: #ffb703;
  --orange: #fb8500;
  --light-blue: #219ebc;

}
html,
body {
  background-color: var(--orange);
  min-height: 100%;
}
h1 {
  font-family: 'Playfair Display', serif;

}
h2 {
  font-family: 'Playfair Display', serif;
  color: var(--dark-blue);
  
}
h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  margin: 100px;
  opacity: 0;
  transition: opacity 1s; 

}
a {
  text-decoration: none;
  font-weight: bold;
}
p{
  font-size: large;
}
form {
  width: 50%;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}
input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

.container {
  background-color: var(--orange);
  width: fit-content;
}
.nav {
  background-color: var(--orange);
  background: transparent;
}

.nav-item {
  text-decoration: none;
}
.nav-tabs {
  /* background-color: var(--mustard); */
  background: transparent;
  font-family: 'Playfair Display', serif;
  padding: 25px;

}
.nav-link active {
  /* background-color: var(--mustard); */
  background: transparent;
  color: var(--dark-blue);
  text-decoration: none;
 
}

.nav-link {
  color: var(--dark-blue);
  text-decoration: none;
 
 

}
.nav-div {
  background-color: var(--orange);
}
.top-title {
  
  margin-top: 20px;
}
.photo-container {
 
  /* min-width: 1000px; */
  /* display: inline-block; */
  /* justify-content: space-around; */
  align-items: center;
  margin: 0 auto;
}
.border {
  height: 275px;
  width: 375px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}
.border:hover {
  border: 1px solid #fff;
}
.card {
  height: 300px;
  width: 400px;
  background: #808080;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card0 {
  background: url("../src/images/shane_faith.new.jpg") left top no-repeat;
  background-size: 700px;
}
.card0:hover {
  background: url("../src/images/shane_faith.new.jpg") center center no-repeat;
  background-size: 450px;
}
.card0:hover h2 {
  opacity: 1;
}
.card0:hover .fa {
  opacity: 1;
}

.wrapper {
  padding-top: 50px;
  justify-content: space-around;
  height: 100%;
  display: flex;
  overflow: auto;
  flex-flow: row wrap;
  padding: 10px;
  align-content: flex-start;
}
.card {
  border-radius: 5px;
  margin: 2rem;
  position: relative;
  /* box-shadow: 0 2px 2px; */
}
.card .img-container {
  height: 75%;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  background-color: var(--white);
}
.card .img-container img {
  width: 100%;
  padding: 25px;
  margin-bottom: 20px;
  background-color: var(--white);
}
.card .content {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.card-title {
  font-family: 'Playfair Display', serif;
  margin-top: 10px;
}
.proj-icons-container {
  background-color: white;
}
.project-icon {
  background-color: white;
  padding: 5px;
}
.topics {
  font-family: 'Inter', sans-serif;
  font-size: small;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-blue);
}
.icon {
  padding: 5px;
}